body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  color: #000000;
  text-align: center;
}
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0ec2c8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #001a6f;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0ec2c8;
  color: white;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Estilo para el contenedor de la barra de navegación */
nav {
    background-color: #10156c;
    color: white;
    padding: 10px;
}

/* Estilo para los enlaces del menú */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0ec2c8; /* Mismo color que tus botones */
  color: white;
  text-decoration: none; /* Quita el subrayado del enlace */
  border-radius: 4px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #001a6f; /* Mismo hover que tus botones */
}